<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>Perfect Store</title>
    <link rel='stylesheet' href='/uploaded/css/cart.css'>
  
     
</head>
<body>
  <%- include('header.ejs',{message:message , userName:userName}); %>
</body>
</html>