<section class="form-info pt-5 pb-5">
       <div class="container">
       <div class="row">
           <div class="col-md-6 mb-3 pt-5">
               <div class="info">
                   <input type="text" placeholder="Name" id="send">
               </div>
           
           </div>
           <div class="col-md-6 mb-3 pt-5">
               <div class="info">
                   <input type="email" placeholder="email">
               </div>
           
           </div>
           <div class="col-md-6 mb-3">
               <div class="info">
                   <input type="text" placeholder="tel">
               </div>
           
           </div>
           <div class="col-md-6 mb-3">
               <div class="info">
                   <input type="text" placeholder="supject">
               </div>
           
           </div>
           <div class="col-md-12 mb-3">
               <div class="info">
                   <textarea type="email" placeholder="message" rows="8" class="w-100 mb-3"></textarea>
               </div>
           </div>
                      <button class="bg-transparent border-dark px-4 py-2 mt-4 mb-5 text-center m-auto" >send message</button>

       
       </div>
    
    </div>
    </section>
    
    <section class="footer  text-center ">
        <div class="container">
            
            
            <div class="footer-caption">
            <div class="col-md-12 m-auto pt-5 pb-3">
                <div class="row">
                    <div class="col-md-4 d-flex">
                    <i class="fas fa-phone-alt m-1 text-white"></i>
                                            <h5> Hotline (+123) 45 67 89 21</h5>

                    </div>
                    
                    <div class="col-md-4 d-flex">
                     <i class="far fa-envelope m-1 text-white"></i>
                        <h5>devitmes@gmail.com</h5>
                    
                    </div>
                    
                    <div class="col-md-4 d-flex ">
                    <i class="fas fa-map-marker-alt text-white m-1"></i>
                        <h5>Dev Items address goes here.</h5>

                    
                    </div>
                    
                
                </div>
            
            
            </div>
        
        </div>
            <p class="pt-2 text-white pb-5">Copyright © 2017 HasTech,All Rights Reserved.</p>
    </div>
    
    </section>